.text-container{
    position: relative;
    top: 0;
    
    @include fullsize;
}
.cover{
    display: flex;
    align-items: center;
    justify-content: center;
    @include fullsize;
}

.conver-text {
    // max-width: 50%;
}

.section{
    @include fullsize;
}